.holder {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.text-container {
  padding: 20px 0 0 40px;
}
.span-lnd,
.h1-lnd,
.h2-lnd {
  margin: 0;
  padding: 0;
}
.span-lnd {
  color: var(--purple);
}
.h1-lnd {
  font-size: 250px;
  font-weight: 700;
  color: var(--comment);
  line-height: 1;
}
.h2-lnd {
  font-size: 50px;
  font-weight: 100;
}
.btn-help {
  background-color: var(--bg);
  border-radius: 15px 0 15px 0;
  border: 4px solid var(--comment);
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 700;
  color: var(--comment);
  margin-top: 50px;
  font-size: 24px;
  transition: all 0.3s ease;
}
.btn-help:hover {
  background-color: var(--comment);
  color: white;
}
