.container {
  padding: 20px 40px;
}

.q-title h1 {
  font-size: 42px;
  color: var(--comment);
  margin: -15px 0 50px 0;
}
.q-passo {
  color: var(--comment);
  margin-bottom: 50px;
}
.q-passo h1 {
  margin-bottom: 0;
  font-size: 24px;
}
.q-passo p {
  margin: 0;
  font-size: 18px;
}
.q-passo span {
  color: var(--light);
  font-weight: 400;
  margin: 0;
  padding: 5px;
}
.q-passo img {
  margin-bottom: 25px;
}
.q-passo span:hover {
  color: var(--comment);
  cursor: default;
}
