.pg-title {
  color: black;
  font-size: 50px;
  color: var(--comment);
  font-weight: 700;
  margin: 10px 0 0 0;
}
.pg-form {
  width: 50%;
  margin: 10px 0 0 0;
}
.pg-form input,
.pg-select {
  color: black;
  border-radius: 10px;
  margin: 0 0 20px 0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  padding: 10px 10px;
}

.pg-btn {
  width: 100%;
  margin: 0 0 20px 0 !important;
  padding: 20px 0 !important;
  background-color: var(--comment) !important;
  color: var(--bg) !important;
  width: 760px;
}
.bt-lixo {
  background-color: var(--red) !important;
}
.pg-select {
  width: 759px;
  cursor: pointer;
  appearance: none;
}
.sl-icon {
  position: relative;
  width: fit-content;
}
.sl-icon::after {
  content: ">";
  font-weight: 500;
  transform: rotate(90deg);
  color: black;
  pointer-events: none;
  font-size: 20px;
  right: 20px;
  bottom: 30px;
  position: absolute;
}
