@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --purple: #e8eaed;
  --red: rgb(192, 0, 0);
  --black: #000000;
  --gray: #666666;
  --lightGray: #bdc1c6;
  --blue: #d2e3fc;
  --lightBlue: #e8f0fe;
  --light: #dbdbdb;
  --bg: #ffffff;
  --comment: #555;
  --font: "Poppins", sans-serif;
}

.span-lnd,
.h1-lnd,
.h2-lnd {
  margin: 0;
  padding: 0;
}
.span-lnd {
  color: var(--purple);
}
.h1-lnd{
  font-size: 250px;
  font-weight: 700;
  color: var(--comment);
  line-height: 1;
}
.h2-lnd {
  font-size: 50px;
  font-weight: 100;
  margin-top: 15%;
}
.btn-lnd {
  background-color: var(--purple);
  cursor: pointer;
  border: none;
  font-weight: 700;
  color: white;
  border-radius: 0px 0 15px 15px;
  font-size: 50px;
  padding: 20px 430px;
  box-shadow: 0px 5px 10px rgb(0, 0, 0) inset;
  transition: all 0.3s ease;
}
