@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --purple: #e8eaed;
  --red: #ea4335;
  --light: #dbdbdb;
  --bg: #ffffff;
  --comment: #555;
  --font: "Poppins", sans-serif;
}

.App {
  text-align: start;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--bg);
}
::-webkit-scrollbar-thumb {
  background: var(--purple);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--comment);
}
* {
  font-family: var(--font);
  outline: none;
}
.tb-cnt {
  margin-top: 50px;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 50px;
}
.tb {
  border-radius: 20px;
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 50px;
  break-before: 5px;
  margin-top: 20px;
  color: var(--comment);
  font-weight: 300;
  font-size: 24px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.tb:hover {
  background-color: var(--comment);
  color: var(--bg);
}
.tb-title h2 {
  font-size: 32px;
  font-weight: 500;
}
.tb-title p {
  font-size: 14px;
  color: var(--light);
  margin-bottom: -30px;
}
.tb-price {
  text-align: right;
  list-style: none;
}
.tb-price h2 {
  font-size: 32px;
}
.container {
  min-height: 100vh;
  box-shadow: 2px -10px 15px rgba(0, 0, 0, 0.1);
  background-color: var(--BG);
  width: 100%;
  padding: 0 20px;
}
form {
  margin: 50px 0;
}

input,
select {
  padding: 15px 0px 15px 15px;
  font-size: 18px;
  margin-bottom: 40px;
  font-weight: 500;
  color: var(--bg);
  background-color: #fff;
  outline: none;
  width: calc(100% - 20px);
  border-radius: 10px;
  border: 3px solid transparent;
}

input:required:valid,
select:required:valid {
  border: 3px solid var(--purple) !important;
}
input::placeholder,
select::placeholder {
  font-size: 18px;
  font-weight: 700;
  color: var(--comment);
}
input:required:invalid,
select:required:invalid {
  border: 3px solid var(--comment);
}

.App-header {
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--light);
}
h3,
h2 {
  font-size: 70px;
  font-weight: 300;
}
.btn {
  background-color: var(--light);
  font-size: 15px;
  font-weight: 900;
  border: none;
  color: var(--light);
  margin-top: 50px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  padding: 18px 0px;
  margin-bottom: 20px;
  width: 100%;
  font-weight: 900;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.btn:hover {
  color: var(--bg);
  background-color: var(--comment);
}

.btn-cancel {
  font-size: 15px;
  background-color: var(--bg);
  font-weight: 900;
  color: var(--light);
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid var(--purple);
  padding: 18px 0px;
  margin-bottom: 20px;
  width: 100%;
  font-weight: 900;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.btn-cancel:hover {
  color: var(--light);
  background-color: var(--red);
  border: 1px solid var(--red);
}

.pd {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.cb {
  height: 44px;
  padding: 0 25px !important;
  margin: 0 !important;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  color: var(--comment);
  border-radius: 10px 0px 0px 10px;
  background-color: var(--bg);
}
.cb::placeholder {
  font-weight: 300;
  color: var(--light);
}
.bb {
  background-color: var(--comment);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  font-weight: 900;
  color: var(--bg);
  cursor: pointer;
  height: 50px !important;
  padding: 0px 40px;
  border: none;
  outline: none;
  border-radius: 0px 10px 10px 0;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.bb:hover {
  background-color: #fff;
  color: var(--comment);
}
.btn-page {
  background-color: var(--bg);
  border: none;
  font-size: 15px;
  word-spacing: 5px;
  font-weight: 900;
  color: var(--light);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.btn-page:hover {
  background-color: var(--comment);
  color: var(--bg);
}
.lixo {
  margin-left: 50px;
}
.lixo:hover {
  background-color: var(--red) !important;
}
.novo {
  margin-left: 50px;
}
.novo:hover {
  background-color: var(--comment) !important;
}
.page-control {
  margin-bottom: 100px;
}
span {
  font-size: 18px;
  padding: 10px 30px;
  font-weight: 500;
}
